<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title> Detalhes </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <!-- CSS -->
        <link rel="stylesheet" href="./css/main.css" />
        <!--// CSS -->
    </head>
    <body>
        <div class="wrapper--centered">
            <a href="index.html" class="link-back">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" class="svg-inline--fa fa-arrow-left fa-w-14" role="img" viewBox="0 0 448 512"><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"/></svg>
                Voltar
            </a>
            <div class="notice">
                <h3>Noticia titulo</h3>
                <div class="notice__line">
                   
                    <span class="notice__category">
                        Categoria 1
                    </span>
                    <span class="notice__date">
                        12/02/2020
                    </span>
                </div>
                <div class="notice__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero fugit numquam mollitia labore iure, ullam dolor sint enim, consectetur quam dolorem provident quod, soluta assumenda? Tenetur quisquam consectetur aspernatur? Inventore. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, hic. Nesciunt tenetur ea tempore eum magni impedit? Quisquam totam fuga doloremque, in consectetur harum vel magni soluta tempore possimus placeat!
                </div>
           </div>
        </div>
    </body>
</html>